<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>games</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body{
      margin: 0;
    }
    .logo{
      display: flex;
      align-items: center;
      margin-top: 10px;
      padding: 10px;
    }
    .logo h1{
      font-size: 34px;
      margin: 5px;
    }
    .r1{
      display: flex;
      justify-content: space-between;
      margin: 20px;
    }
    .r1 .card{
      margin: 20px;
    }
  </style>
</head>
<body>
  <div class="logo">
    <img src="https://i1.wp.com/9to5google.com/wp-content/uploads/sites/4/2022/07/current-google-play-icon.jpg?ssl=1" alt="" width="50" height="50">
    <h1>Games</h1>
  </div>

  

  <div class="r1">
    <div class="card" style="width: 18rem;">
  <img src="https://pbs.twimg.com/profile_images/1719631006708195328/Kfb8D4PX_400x400.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Clash of Clans</h5>
    <p class="card-text">Supercell<br>4.1&nbsp;<i class="fa fa-star" aria-hidden="true"></i><br>&nbsp;</p>
    <a href="#" class="btn btn-success">Install</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="https://img.poki.com/cdn-cgi/image/quality=78,width=314,height=314,fit=cover,f=auto/4357ea047bb8dc58bf94e3692dd81d7b.png" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Subway Surfers</h5>
    <p class="card-text">SYBO Games<br>4.4&nbsp;<i class="fa fa-star" aria-hidden="true"></i><br>&nbsp;</p>
    <a href="#" class="btn btn-success">Install</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="https://lh4.googleusercontent.com/proxy/kLK6KBS6ID8RvkZzQ4yHM7PzZqMe6ahXXguPqy0r2zX6OPvSDmzecBAX0L60CNRUGLAm02tj6xdwG-YphzhSmF6qOduEWNL3H3gvpQry8AGnNUutt-oSSpLuyAFe8BA" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Angry Birds 2</h5>
    <p class="card-text">Rovio Entertainment Corporation<br>4.2&nbsp;<i class="fa fa-star" aria-hidden="true"></i></p>
    <a href="#" class="btn btn-success">Install</a>
  </div>
</div>
<div class="card" style="width: 18rem;">
  <img src="https://play-lh.googleusercontent.com/UcJBSxtxOsATxtl0PvNtMk_F7jjZR6pm1FxkiMFsAwOCBdAk0tM9n3NxwFrOwR-KX8c" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Lords Mobile:Last Fighter</h5>
    <p class="card-text">IGG.COM<br>4.1&nbsp;<i class="fa fa-star" aria-hidden="true"></i></p>
    <a href="#" class="btn btn-success">Install</a>
  </div>
</div>
  </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</html>